{% extends "base.html" %}


{% block head_title %}
{{ object.title }} | {{ block.super }}
{% endblock head_title %}

{% block jquery %}
$("a").css({"color":"yellow", "font-size":"125%", "padding-right":"20px"});
$("a").mouseover(function(){
    $(this).css("color", "white");
$("a").mouseleave(function(){
    $(this).css("color","yellow");
})    
    });
{% endblock %}



{% block content %}
<div class='col-md-8 col-sm-offset-2'>
<table class="table">
<thead>
    <tr>
      <th></th>
      <td><b><br>Requestee Name:</b></br> {{ booking.commuter_name }}</td>
      <td><b><br>Budget Head: </b></br>{{ booking.budget_head_approval_authority }}</td>
      <td><b><br>Approving Authority: </b></br>{{ booking.budget_head_approval_authority.reporting_authority1 }}</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><b><br>Vehicle Type: </b></br>{{ booking.vehicle_type }}</td>
      <td><b><br>Booking Type: </b></br>{{ booking.vehicle_type }}</td>
      <td><b><br>Pickup Address: </b></br>{{ booking.pickup_address }}</td>

    </tr>
    <tr>
      <th scope="row"></th>
      <td><b><br>Pickup Time:</b></br> {{ booking.pickup_time }}: {{ booking.am_pm }}</td>
      <td><b><br>Pickup Date: </b></br>{{ booking.pickup_date }}</td>
      <td><b><br>Commuter Contact: </b></br>{{ booking.contact }}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b><br>Approval Status: </b></br>{{ booking.approval_status }}</td>
      <td><b><br>Remarks: </b></br>{{ booking.remarks }}</td>
      <td><b><br>Admin Note:</b></br> {{ booking.note_admin }}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b><br>Assigned To: </b></br>{{ booking.transport.name }}</td>
      <td><b><br>Driver: </b></br>{{ booking.driver.driver_name }}</td>
      <td><b><br>Driver Contact:</b></br> {{ booking.driver.driver_contact }}</td>
    </tr>
  </tbody>
</table>







</div>






    


{% endblock content %}