


{% block content %}
<p>Dear {{ user }},</p>
<p>

Your request has been updated by your approving authority, {{ booking.approving_authority }} 
</p>
<p> Approval Status: {{ booking.approval_status }}
<p>

<!-- Commuter Name: {{ booking.commuter_name }}   </p>  
<p>Type of Vehicle : {{ booking.vehicle }} </p>
<p>
Date :{{ booking.pickup_date }}        </p>
<p>Time : {{ booking.pickup_time }}: {{ booking.am_pm }}</p>
<p>Remarks : {{ booking.remarks }}</p>
<p>Find your cab details mentioned below-</p>
 <p> Driver : {{ booking.driver }}</p>
 <p> Contact : {{ booking.driver.driver_contact }}</p>
 <p> Cab No : {{ booking.vehicle.registration_number }}.</p>
 <p> Reporting Time : 30 mins prior to pick up time. </p>
 -->
<p>In case of any query, feedback or change in itinerary, communicate this at transport helpline 8222930501. </p>

<p>Thank you,</p>
<p>Team Admin</p>





</div>
<p>click here: http://127.0.0.1:8000/booking/{{ booking.slug}} </p>





    


{% endblock content %}