<nav class="topbar">
  <div class="container" style="background-color:#c4122f;">
    <div class="navbar-header" align="center" id="navbar">
      <a id="1" class="navbar-brand" href="{% url 'booking' %}">Make a new request</a></li>
      <a id="2" class="navbar-brand" href="{% url 'list' %}">See All Booking Requests</a></li>
    </div>
    
    <div class="navbar-header" align="right" id="navbar" style="padding-left:500px;">
        <a  id="3" style="font-color:black" class="navbar-brand" href="{% url 'account_logout'  %}">Hi {{ user }}, Logout</a>


    </div
  </div>
</nav>