<nav class="navbar navbar-default">
  <div class="container" style="background-color:#87CEFA;">
    <div class="navbar-header" align="center" id="navbar">
      <a style="font-color:black" class="navbar-brand" href="{% url 'booking' %}">Make a new request</a>
    </div>
    <ul class="nav navbar-nav" align="center">
      <li style="font-color:black"><a href="{% url 'list' %}">All Requests</a></li>
      
    </ul>
    <div class="navbar-header" align="right" id="navbar" style="padding-left:600px;">
        <a style="font-color:black" class="navbar-brand" href="{% url 'account_logout'  %}">Logout</a>


    </div
  </div>
</nav>