{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block jquery %}







$("a").css({"color":"yellow", "font-size":"125%", "padding-right":"20px"});
$("form").css({"color":"#Od3862","font-size":"125%","font-style":"OpenSans-Bold"})
$("a").mouseover(function(){
    $(this).css("color", "white");
$("a").mouseleave(function(){
    $(this).css("color","yellow");
})    
    });


{% endblock %}


{% block content %}
<div class="col-md-10" align="left" style="padding-left: 400px; padding-top: 25px;">
<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}
<input type='submit' class='btn btn-default' value='Submit' />
</form>
{% endblock %}
